[user]
	name = Mitch Stark
[core]
	excludesFile = ~/.gitignore
	editor = vim

[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
[push]
	autoSetupRemote = true
  default = current
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = nvim -d "$LOCAL" "$REMOTE"
