[user]
	name = Mitch Stark
[core]
	excludesfile = /Users/mitchstark/.gitignore_global

[alias]
    co = checkout
    st = status
    ci = commit
    br = branch
[push]
	autoSetupRemote = true
	default = current
